/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }


body {
    font-family: sans-serif;
}


/* ---------------- */

.foto {
    position: relative;
    overflow: hidden;
}

.popisek {
    position: absolute;
    top: 100%;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    color: white;
    transition: transform 0.3s;
}

.foto img{
    width: 100%;
    display: block;
    transition: 0.3s;
}

.foto:hover .popisek {
    transform: translateY(-100%)
}

.foto:hover img{
   transform: scale(1.2)
}